<script type="text/javascript" src="/javascripts/flavorlist.js"></script>
<p id='referrer' style="visibility: hidden">{{isindex}}</p>
<div id="milkshakeList">
    <table class="table">
        <tbody>

        </tbody>
    </table>
</div>
