<script type="text/javascript" src="/javascripts/flavorlist.js"></script>
<h1> list of milkshake flavors </h1>

<div id="milkshakeList">
    <table class="table">
        <tbody>

        </tbody>
    </table>
</div>
